@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
  --main-panel: #1c1c1e;
  --small-panel: #2c2c2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
    --main-panel: #1c1c1e;
    --small-panel: #2c2c2e;
  }
}

body {
  color: #fff;
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
